html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
	font-family: Arial, sans-serif;

}
.button1 {
    
    
    border: 2px solid #FF5733;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #ffffff;
    color: black;
    border: 2px solid #FF5733;
    cursor: pointer;
    margin: auto;
    
}

@font-face {
    font-family: "Stengazeta";
    src: url("/texts/Cyberpunk_RUS_BY_LYAJKA.ttf"), local("Stengazeta");
}

.font {
    font-family: 'Stengazeta',sans-serif;
    font-size: 50px;
}

.animation{
    animation-name:revert;
}

.slidein {
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
   
}

@keyframes slidein {
    from {
        margin-left: 100%;
       
    }

    to {
        margin-left: 0% ;
        
        
    }
}
.header {
    height: 50px;

}



.post {
    padding: 4px;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
}
.post__details {
    font-size: .9em;
    color: #5d5d5d;
    color: var(--theme_default_alttext);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.post_type_reply {
    /*max-width: 50vw;
    background: #ddd;
    background: var(--theme_default_postbg);
    border: 1px solid var(--theme_default_border);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    margin: 2px 0 4px 20px;
    overflow: visible;*/

    border: solid;
}