html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
	font-family: Arial, sans-serif;

}
.button1 {
    
    
    border: 2px solid #FF5733;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #ffffff;
    color: black;
    border: 2px solid #FF5733;
    cursor: pointer;
    margin: auto;
    
}

@font-face {
    font-family: "Stengazeta";
    src: url("/texts/Cyberpunk_RUS_BY_LYAJKA.ttf"), local("Stengazeta");
}

.font {
    font-family: 'Stengazeta',sans-serif;
    font-size: 50px;
}

.animation{
    animation-name:revert;
}

.slidein {
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
   
}

@keyframes slidein {
    from {
        margin-left: 100%;
       
    }

    to {
        margin-left: 0% ;
        
        
    }
}
.header {
    height: 50px;

}
