@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<p>sdads</p>








<div class="text-center">
    <h2 class="display-4">Privet this is site</h2>
    <a href="#Yakor2" name="Yakor1">Yakor1</a>
</div>
    
    <span> eto che</span>
    <p> eto che</p>
    <div> eto che</div>
    <h6 class="display-4">Privet this is site</h6>
    <></>
    <h1>privet</h1>
    <h6>privet</h6>
    <p> eto che</p>
    <p><em> em</em></p>
    <strong> strong</strong>
    <br /> мяуу br
    <br /> мяуу br
    <ol> che za spisok
       <li> perviy</li>
        <li> vtoroy</li>
    </ol>
    <ul>
        <li> первый</li>
        <li> второй</li>
    </ul>
    
    <image src="https://i.imgur.com/P5YmC24.png">
        
    </image>

<p>ss</p>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">adad</a>
asd

@for(int i = 0; i < 55; i++)
{
    <br />
}
<a name="Yakor2"href="#Yakor1">Yakor2</a>
