@page
@model site.Pages.Page3
@{
    ViewData["Title"] = "Page3";
}


<p class="font">Киберпанк текст привет</p>

<button onclick="onclick() " class="button1 slidein">Тык</button>
<script>

    function playVideo() {
        var video = document.getElementById("~/video/Китаец с пистолетом/mp4");
        video.play();
    }
</script>
@* <video autoplay  controls src="~/video/Китаец с пистолетом.mp4" style="border: 10px"></video> *@