@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<video autoplay muted="1" controls src="video\throwing minecraft item [meme].mp4"></video>
<br />
<img src="~/video/3QeI.gif" style="margin: 10px"/>
<img src="/images/негрыбабки.jpg"/>
<video autoplay muted="1" controls src="~/video/top 5 scariest jumpscares.mp4"></video>
<video autoplay muted="1" controls src="~/video/berb.mp4" style="border: 10px"></video>

@for (int i = 0; i < 55; i++)
{
    <br />
}

